.app__image{
    width:100%;
    margin-top: 20px;
}
.loader{
    margin-left: 200px;
    text-align: center;
    justify-content: center;
    margin-top: 200px;

}

.app__favorite{
    display: flex;
}

.app__logo{
     margin-top: 0;
     padding-top: 20px;
     margin-left:5%;
}

.app__subtopic{
    margin-top: 20px;
    margin-left: 5%;

}
.App{
    background-color: #ccc;
    margin-top:0;
}
h3{
    margin-left:5%;
    margin-top:20px
}
